/*<meta />*/

@import url('Mainstyles.css');

div.rreview
{
	background-color: yellow;
}

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

h1
{
	color: var(--Salmon);
}

